* {box-sizing: border-box;}

body
{
    margin: 0px;
    background-color: rgb(54, 13, 13);

}

.cabeca
{   
    background-color: rgb(207, 51, 45);
    border: 5px solid rgb(40, 84, 179);
    border-radius: 10px;
    margin: 5px;
}

#titulo1
{
    color: rgb(255, 255, 255);
    text-align: center;
}

.nomeop
{
    color: white;
    text-align: center;
}

.fotosop
{
    display: flex;
    align-items: center;
    justify-content: center;
}

#leoo
{
    width: 250px; height: 200px;
    border: 5px solid rgb(40, 84, 179);
    border-radius: 100px;
    margin: 10px;
    background:url(leofalou.png);
}

#baetas
{
    width: 250px; height: 200px;
    border: 5px solid rgb(40, 84, 179);
    border-radius: 100px;
    margin: 10px;
    background:url(baetas.png)
}